<h1>Sign Up Below:</h1>
<form method="POST" action="/articles">
  <label for="article_title">Title: </label>
  <input type="text" id="name" name="article[title]"><br>
  <label for="article_content">Content: </label>
  <input type="text" id="email" name="article[content]"><br>
  <br>
  <input type="submit" id="submit">
</form>

